* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Big Shoulders Display', cursive;
}

header>h1 {
    font-size: 4rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    gap: 3px;
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 380px;
}

button {
    width: 90px;
    height: 30px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}